/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/examples/**/.env
/examples/sourced_donations/storage
/examples/donations1/donations.pstore

# rspec failure tracking
.rspec_status
