/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/examples/**/.env
/examples/**/tmp/
/examples/**/storage/
/examples/donations1/donations.pstore
/examples/chat/chat_messages.jsonl

# rspec failure tracking
.rspec_status
